#signup_div{
    margin: auto;
    margin-top: 5%;
    width: 30%;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 12px;
    border: 2px solid black;
    border-radius: 12px;
}

#signup_div input{
    width: 100%;
    padding: 2%;
    border: 2px solid black;
    border-radius: 15px;
}

#signup{
    background-color: rgb(230, 95, 95);
    color: white;
    width: 30%;
    border-radius: 20px;
    font-size: medium;
    border: none;
    padding: 3% 2%;
    margin-left: 10.5vw;
}

#signup:hover{
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 20px rgb(245, 176, 176);
    transition: border 1ms ease-in;
}

#signup_div span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: medium;
    color: black;
    font: 'Lucida Sans';
}

#signup_div span a{
    text-decoration: none;
}

#signup_div span a:hover{
    color: blue;
    text-decoration: underline  ;
}


/* 755 px max width for responsive */

@media screen and (max-width: 755px) {

    #signup_div{
        width: 65%;
    }
    
    #signup{
        width: 30%;
        font-size: small;
        padding: 4% 3%;
        margin-left: 20vw;
    }
    
}